@model Ivoryservices.Models.BookingMaster
<hr />

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Staticpages.styles.css" asp-append-version="true" />
<link href="bootstrap-icons/font/bootstrap-icons.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>  
  $(document).ready(function() { 
      //alert("hi");
    // function Monthreportpdf() {
    //    //alert("hi");   
    //    var data = $("#create").serialize();
    //    console.log(data);
    //    alert(data);
    //    $.ajax({
    //        type: 'POST',
    //        url: '/Monthreport/MonthPdf',
    //        contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
    //        data: data,
    //        success: function (result) {
               
    //                        //alert('Successfully received Data ');
    //             console.log(result);
    //        },
    //        error: function () {
    //            //alert('Failed to receive the Data');
    //            console.log('Failed ');
    //        }
    //    })
    //}


        $("#btnPrint").click(function (ev) {
            var form = $("#frmPrint");
            var url = form.attr('action');
            var fromDate = $("#FromDate").val();
            var toDate = $("#ToDate").val();

            var _url = "/Monthreport/Monthpdf_data?FromDate=" + $("#FromDate").val() + "&toDate=" + $("#ToDate").val();
            openUrl(_url);

            //alert($("#FromDate").val().toString());
            ////alert(toDate);
            //$.ajax({
            //    type: "POST",
            //    url: "/Monthreport/Monthpdf_data",
            //    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            //    data: { "FromDate": $("#FromDate").val(), "ToDate": $("#ToDate").val() },
            //   // data: form.serialize(),
            //    success: function (response) {

            //        // Ajax call completed successfully
            //        alert("Form Submited Successfully");
            //    },
            //    error: function (data) {

            //        // Some error in ajax call
            //        alert("some Error");
            //    }
            //});
        });

        function openUrl(href)
        {
            window.open(href);
            //alert(href);
            //Object.assign(document.createElement('a'),{
            //    target:'_blank',
            //    href:href,
            //}).click();
        }

  });  
</script> 

<div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-4 card">
        <form asp-action="" id="frmPrint">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Order_date" class="control-label" >From Date</label>
                <input asp-for="Order_date" class="form-control" id="FromDate" name="FromDate" />

                <span asp-validation-for="Order_date" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="Order_date" class="control-label" >To Date</label>
                <input asp-for="Order_date" class="form-control" id="ToDate" />

                <span asp-validation-for="Order_date" class="text-danger"></span>
            </div>
 
            <div class="form-group">
                <input type="submit"  value="Print" id="btnPrint" class="btn btn-primary" />

                @*<a href="@Url.Action("Monthpdf_data", "Monthreport", new { FromDate = 1 })">Download Form</a>*@
            </div>
            <div class="col-md-4"></div>
        </form>
    </div>
</div>


