@model IEnumerable<Ivoryservices.Models.SubCategory>

@{
    TempData["User"] = "USER";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // ViewData["Title"] = "ViewSubCategoryIndex";
}

@*<p>
    <a asp-action="GetSub">Create New</a>
</p>*@
<script>
    function onFileSelected(event) {
        
  var selectedFile = event.target.files[0];
  var reader = new FileReader();

  var imgtag = document.getElementById("myimage");
  imgtag.title = selectedFile.name;

  reader.onload = function(event) {
    imgtag.src = event.target.result;
  };

  reader.readAsDataURL(selectedFile);
}



function Edit(id) {
    debugger
    alert("hello")
    $.ajax({
        url: '/User/GetSub?id=' + id,
        type: 'Get',
        dataType:'json',
        success: function(response) {
            $('#Sub_Id').val(response.id);
            $('#Sub_Name').val(response.name);
            $('#Sub_Image').val(response.image);
            $('#Sub_Price').val(response.price);
        },
        error: function() {
            alert('Data not found');
        };
    })
}
    
</script>
<html lang="en">
@*<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>*@
<body>

<div>
    <h1 align="center">SubCategory</h1>
   
    <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8 card">
        <div class="card-body">
            @*<div class="col-8 offset-2">*@
                @*<h1 class="text-center text-primary">SubCategory</h1> *@              
                <p class=" text-center text-success">@TempData["error"]</p>
                        <table class="table fin">
                            <tbody class="text-center" id="table-data">
                                @foreach (var item in Model)
                                {
                           
                                    <div class="col-md-4">
                                           <img src="~/images/@Html.DisplayFor(modelItem => item.Sub_Image)" alt="Sample Image" width="250px" height="200px" />   <br />                  
                                           <b> @item.Sub_Name</b> <br />
                                    <b>@item.Sub_Price.ToString("#,##0.00")</b><br />
                                            <a class="btn btn-sm btn-success m-1" asp-controller="User" asp-action="BookingCreate" asp-route-id="@item.Sub_Id">Add to cart</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                              
                                }
                            </tbody>
                        </table>
            </div>
        </div>
    </div>

</div>
</div>
</body>
</html>

@section Scripts {
  @* fileInput.addEventListener("change", function() {
  changeImage(this);
});

function changeImage(input) {
  var reader;

  if (input.files && input.files[0]) {
    reader = new FileReader();

    reader.onload = function(e) {
      path.innerHTML = input.value;
      obPath.innerHTML = e.target.result;
    }

    reader.readAsDataURL(input.files[0]);
  }
}*@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
                    