@model IEnumerable<Ivoryservices.Models.Admin>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @TempData["Admin"].ToString()
</div>

