@model Ivoryservices.Models.serviceprovider;

@{
    TempData["Serviceprovider"] = "SERVICEPROVIDER";
      Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Welcome @TempData["User_name"]
    @*<h1 class="display-4">Welcome----------ServiceProvider page----------</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

     <div class="container-fluid p-0">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-fluid" src="~/images/ac symbol.jpg" alt="Image">
                </div>              
            </div>       
    </div>
</div>